*, ::before, ::after{
    box-sizing: border-box;
    margin: 0
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter-txt, .number-el{
    font-size: 100px;
    color: rgb(41, 41, 81);
    margin-bottom: 2rem;
}

.number-el{
    color: black;
    margin-bottom: 1rem;
}

.control-el{
    display: flex;
    gap: 1rem;
}

.control-el > h3{
    cursor: pointer;
    border: 2px solid black;
    padding: .5rem 1rem;
    border-radius: 5px;
    letter-spacing: .4rem;
    text-transform: uppercase;
}

.control-el > h3:hover{
    border: 2px solid rgb(74, 74, 189);
}

.control-el > h3:active{
    background-color: rgb(74, 74, 189);
    color: white;
}